<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xlr8 ~ desmos</title>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src=""></script>
    <script src="https://www.desmos.com/api/v1.7/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
    <style src="{{ url_for('static', filename='css/desmos-styles.css')}}" defer ></style>
</head>

<body>
    <main>
        <div id = "header">
        </div>
        <div id="api_container">
        </div>
    </main>
    <script id="content-data" type="application/json">
        {{ content | tojson | safe }}
    </script>
    <script id="file-id" type="application/json">
        {{ file_id | tojson | safe }}
    </script>
    <script id="file-name" type="application/json">
        {{ filename | tojson | safe }}
    </script>
    <script id="is-owning-user" type="application/json">
        {{ isOwningUser | safe }} 
    </script> <!-- "1" is True, "0" is False -->
    <script id="user-name" type="application/json">
        {{ userFname | tojson | safe }} 
    </script>
    <script id="user-id" type="application/json">
        {{ userid | safe }} 
    </script>
    
    
    <script src="{{ url_for('static', filename='js/src/serve_desmos_script.js') }}" defer></script>
</body>
</html>
