v<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard_styles.css') }}">
</head>
<body>
    <header>xlr8</header>
    <main>
        <div id="main">
            
            <div id="iframeContainer">
        </div>
    </main>
    <footer>
        <p>&copy; 2025 My Flask App</p>
    </footer>
    <script src="{{ url_for('static', filename='js/user_dashboard_script.js') }}" defer></script>
</body>
</html>
